 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1319px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 55px;
  margin-bottom: 60px;
  grid-template-rows: repeat(1, auto);
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 1038px;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  line-height: 1.4;
  font-style: italic;
  width: auto;
  margin: 20px 0 0;
}

.u-section-1 .u-line-1 {
  width: 276px;
  transform-origin: left center;
  margin: 20px auto 0;
}

.u-section-1 .u-image-1 {
  width: 288px;
  height: 288px;
  background-image: url("../images/photo-1604606363386-dd3f2357ad87.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  line-height: 1.4;
  margin: 20px auto 0;
}

.u-section-1 .u-line-2 {
  width: 276px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-2 {
  width: 288px;
  height: 288px;
  background-image: url("../images/photo-1697205671602-a744711917e7.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  line-height: 1.4;
  margin: 20px auto 0;
}

.u-section-1 .u-line-3 {
  width: 276px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-3 {
  width: 288px;
  height: 288px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  line-height: 1.4;
  margin: 20px auto 0;
}

.u-section-1 .u-line-4 {
  width: 276px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-4 {
  width: 288px;
  height: 288px;
  background-image: url("../images/photo-1604606367433-b196f19daa99.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  font-style: italic;
  line-height: 1.4;
  margin: 20px auto 0;
}

.u-section-1 .u-line-5 {
  width: 276px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-5 {
  width: 288px;
  height: 288px;
  background-image: url("../images/photo-1638073201892-bd9c9769daa8.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  font-style: italic;
  line-height: 1.4;
  margin: 20px auto 0;
}

.u-section-1 .u-line-6 {
  width: 276px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-6 {
  width: 288px;
  height: 288px;
  background-image: url("../images/photo-1643786262419-7d4ff0d29d15.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1255px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 851px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 221px;
  }

  .u-section-1 .u-image-1 {
    width: 213px;
    height: 213px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    width: 221px;
    transform-origin: left center;
  }

  .u-section-1 .u-image-2 {
    width: 213px;
    height: 213px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-3 {
    width: 221px;
    transform-origin: left center;
  }

  .u-section-1 .u-image-3 {
    width: 213px;
    height: 213px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-4 {
    width: 221px;
    transform-origin: left center;
  }

  .u-section-1 .u-image-4 {
    width: 213px;
    height: 213px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-5 {
    width: 221px;
    transform-origin: left center;
  }

  .u-section-1 .u-image-5 {
    width: 213px;
    height: 213px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-6 {
    width: 221px;
    transform-origin: left center;
  }

  .u-section-1 .u-image-6 {
    width: 213px;
    height: 213px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1508px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-image-1 {
    width: 263px;
    height: 263px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-image-2 {
    width: 263px;
    height: 263px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-image-3 {
    width: 263px;
    height: 263px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-image-4 {
    width: 263px;
    height: 263px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-image-5 {
    width: 263px;
    height: 263px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-image-6 {
    width: 263px;
    height: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-1 {
    width: 344px;
  }

  .u-section-1 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-2 {
    width: 344px;
  }

  .u-section-1 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-3 {
    width: 344px;
  }

  .u-section-1 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-4 {
    width: 344px;
  }

  .u-section-1 .u-text-10 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-11 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-5 {
    width: 344px;
  }

  .u-section-1 .u-text-12 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-13 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-6 {
    width: 344px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 263px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    width: 263px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-3 {
    width: 263px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-4 {
    width: 263px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-5 {
    width: 263px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-6 {
    width: 263px;
  }
}