 .u-section-1 {
  background-image: url("../images/img4.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 725px;
}
.u-nav-container {
  display: flex;
  justify-content: space-between; /* Space between nav list and icon */
  align-items: center; /* Vertically center items */
  width: 100%; /* Ensure full width */
}

/* Style for the nav list */
.u-nav {
  display: flex;
  list-style: none; /* Remove default list styling */
  margin: 0;
  padding: 0;
  flex-grow: 1; /* Allow the nav list to take up space */
}

/* Style for each nav item */
.u-nav-item {
  margin-right: 20px; /* Space between nav items */
}

/* Remove margin for the last nav item (icon) */
.u-nav-item.u-nav-icon {
  margin-right: 0;
  margin-left: auto;
  padding-right: 15px; /* Push the icon to the right */
}

/* Style for the SVG icon */
.u-nav-icon svg {
  width: 25px; /* Adjust icon width */
  height: 25px; /* Adjust icon height */
  cursor: pointer; /* Change cursor on hover */
}
.u-section-1 .u-group-1 {
  width: 538px;
  min-height: 410px;
  background-image: none;
  height: auto;
  margin: 206px auto 60px -33px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px 29px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 4px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 598px);
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 598px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}